@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pixel-size: 10;
}

@layer base {
  @font-face {
    font-family: "Pixeled Regular";
    src: url(./font/Pixeled.ttf);
  }
  @font-face {
    font-family: Minecraft;
    src: url(./font/Minecraft.ttf);
  }

  html {
    font-family: Minecraft;
    font-weight: 400;
    letter-spacing: 0px;
  }

  input {
    font-family: Minecraft;
    font-weight: 400;
  }
}

@layer utilities {
  /* Character sprite */
  .Character {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    /* background-color: red; */
    overflow: hidden;
    position: relative;
  }

  .Character_spritesheet {
    max-width: none;
    animation: moveSpritesheet 1s steps(4) infinite;
    /* 32px * 4 frames = 128px */
    width: calc(128px * var(--pixel-size));
    position: absolute;
  }

  .Character_shadow {
    position: absolute;
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
  }

  .pixelart {
    image-rendering: pixelated;
  }

  .face-right {
    top: calc(-32px * var(--pixel-size));
  }
  .face-up {
    top: calc(-64px * var(--pixel-size));
  }
  .face-left {
    top: calc(-96px * var(--pixel-size));
  }

  @keyframes moveSpritesheet {
    from {
      transform: translate3d(0px, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  /* Text box */
  .text {
    /* font-size: 6vw; */
    word-spacing: 0.2em;
    margin: 0 auto;
    background: #000;
    padding: 1em;
    border-bottom: 1vw solid #0e6dad;
    position: relative;
    line-height: 1.2em;
  }
  .corner {
    position: absolute;
    width: 10vw;
    right: 2vw;
    bottom: 0;
    transform: translateY(80%);
  }

  .text span {
    opacity: 0;
    color: #fff;
  }

  .text span.revealed {
    opacity: 1;
  }
  .text span.yellow {
    color: rgb(255, 249, 74);
  }
  .text span.red {
    color: #ff0000;
  }
  .text span.purple {
    color: rgb(201, 38, 255);
  }
}
